<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="http://glorywebsdemo.com/themeforest/html/carveordering/images/favicon.ico"
        type="image/x-icon">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>Home page | Order Online Fast Food &amp; Pizza</title>
    <!-- Fonts Here-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <!-- Fonts here-->

    <!-- Style Here -->
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/slick.css">
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/style.css">
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/my-account.css">
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/font-awesome.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/bootstrap.min.css">

    <!-- JS -->
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/popper.min.js" defer=""></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/jquery.min.js" defer=""></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/bootstrap.min.js" defer=""></script>
</head>

<body>
    <div class="wrapper">
        <!-- Header Start Here -->
        <header id="Header">
            <div class="main_header">
                <div class="top_nav sticky" id="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logo">
                                    <a href="http://glorywebsdemo.com/themeforest/html/carveordering/index.html"
                                        title="Crave Ordering"><img
                                            src="http://glorywebsdemo.com/themeforest/html/carveordering/images/logo.png"
                                            alt="Crave Ordering"></a>
                                </div>
                                <div class="nav_manu">
                                    <div class="Menu_list">
                                        <ul class="menu">
                                            <li><a href="/index" class="trans hvr-underline-from-left">Home</a></li>
                                            <li><a href="/login" class="trans">Login</a></li>
                                            <li><a href="/kitchen" class="trans">Cook</a></li>
                                            <li><a href="/login" class="trans">Register</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="burger" class="open-main-nav">
                    <span class="burger"></span>
                </button>
                <div class="H_banner home">
                    <div class="main_pitch">
                        <h1 class="page_title">Order Online Your Food</h1>
                        <h3 class="cntct">Call us<span class="call_desk"><a href="" id="typewriter_num">01 234 567
                                    890</a></span></h3>
                    </div>
                </div>
            </div>
            <div class="device">
                <nav class="main-nav" id="main-nav">
                    <div class="logo">
                        <a href="http://glorywebsdemo.com/themeforest/html/carveordering/index.html"
                            title="Crave Ordering"><img
                                src="http://glorywebsdemo.com/themeforest/html/carveordering/images/logoBlack.png"
                                alt="Crave Ordering"></a>
                    </div>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="menu.html">Order</a></li>
                        <li><a href="kitchen.html">Cook</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login.html">Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header End Here -->

        <!-- popular our food start here -->
        <section>
            <div class="popular">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_popular">
                                <h2 class="title">Best Menu For you</h2>
                                <p class="desc">Choose from over 30 craveable toppings to make your perfect Food.
                                    <br> Don't love what you ordered? Let us know. We're all about second chances.
                                </p>
                                <div class="p_card">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>
                                                <% for (let i = 0; i < data.length; i++) { %>
                                                    <% for (let j = 0; j < data[i].length; j++) { %>
                                                        <li>
                                                            <div class="card">
                                                                <div class="C_img"> <img
                                                                        src="http://glorywebsdemo.com/themeforest/html/carveordering/images/pro_img1.jpg"
                                                                        class="absoImg" alt=""> </div>
                                                                <div class="C_desc">
                                                                    <h3 class="title"><%= data[i][j][0] %></h3>
                                                                    <p class="desc"><%= data[i][j][1] %></p>
                                                                    <div class="price_block">
                                                                        <div class="price">$ <%= data[i][j][2] %></div>
                                                                        <a href="/contact?did=<%= data[i][j][3] %>" class="card_btn">Contact me</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    <% } %>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- popular our food start here -->

        <!-- client feedback start here -->
        <section>
            <div class="client_say">
                <div class="main_client">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="middle_Cpitch">
                                    <h2 class="title">Whats Clients Say</h2>
                                    <div class="testi_slider slick-initialized slick-slider"><button type="button"
                                            data-role="none" class="slick-prev slick-arrow" aria-label="Previous"
                                            role="button" style="display: block;">Previous</button>
                                        <div aria-live="polite" class="slick-list draggable">
                                            <div class="slick-track" role="listbox"
                                                style="opacity: 1; width: 3450px; transform: translate3d(-1380px, 0px, 0px);">
                                                <div class="slick-slide slick-cloned" data-slick-index="-1"
                                                    aria-hidden="true" tabindex="-1" style="width: 690px;">
                                                    <p class="desc"><span class="double_quat"></span>Great pizza. Tastes
                                                        so fresh and original. Beats any of the chains hands down.
                                                        <br> I was so glad to hear Mike's was opening in Oregon and now
                                                        it is a wonderful reality.
                                                        <br> Give them a try, you won't be sorry! <span
                                                            class="double_quat2"></span>
                                                    </p>
                                                    <div class="sign"> <span class="name">Glenn Cook</span> <span
                                                            class="Desig">CEO</span> </div>
                                                </div>
                                                <div class="slick-slide" data-slick-index="0" aria-hidden="true"
                                                    tabindex="-1" role="option" aria-describedby="slick-slide00"
                                                    style="width: 690px;">
                                                    <p class="desc"><span class="double_quat" tabindex="0"></span>I
                                                        ordered Pizza for the first time &amp; I'm so glad I did! I
                                                        Can't wait till I order again. Thick, tasty,
                                                        <br>absolutely delicious Pizza! The gal taking my order was so
                                                        nice as well. <span class="double_quat2" tabindex="0"></span>
                                                    </p>
                                                    <div class="sign"> <span class="name" tabindex="0">Paulette
                                                            Pettry</span>
                                                        <span class="Desig" tabindex="0">CEO</span>
                                                    </div>
                                                </div>
                                                <div class="slick-slide slick-current slick-active" data-slick-index="1"
                                                    aria-hidden="false" tabindex="-1" role="option"
                                                    aria-describedby="slick-slide01" style="width: 690px;">
                                                    <p class="desc"><span class="double_quat" tabindex="0"></span>Wow I
                                                        have found a great pizza place. They brought me a great pizza
                                                        and the guy that delivered
                                                        <br> my pizza was a cool dude. Thanks for the great pizza. I
                                                        recommend to everyone.<span class="double_quat2"
                                                            tabindex="0"></span>
                                                    </p>
                                                    <div class="sign"> <span class="name" tabindex="0">Jhon
                                                            Walker</span> <span class="Desig" tabindex="0">CEO</span>
                                                    </div>
                                                </div>
                                                <div class="slick-slide" data-slick-index="2" aria-hidden="true"
                                                    tabindex="-1" role="option" aria-describedby="slick-slide02"
                                                    style="width: 690px;">
                                                    <p class="desc"><span class="double_quat" tabindex="0"></span>Great
                                                        pizza. Tastes so fresh and original. Beats any of the chains
                                                        hands down.
                                                        <br> I was so glad to hear Mike's was opening in Oregon and now
                                                        it is a wonderful reality.
                                                        <br> Give them a try, you won't be sorry! <span
                                                            class="double_quat2" tabindex="0"></span>
                                                    </p>
                                                    <div class="sign"> <span class="name" tabindex="0">Glenn Cook</span>
                                                        <span class="Desig" tabindex="0">CEO</span> </div>
                                                </div>
                                                <div class="slick-slide slick-cloned" data-slick-index="3"
                                                    aria-hidden="true" tabindex="-1" style="width: 690px;">
                                                    <p class="desc"><span class="double_quat"></span>I ordered Pizza for
                                                        the first time &amp; I'm so glad I did! I Can't wait till I
                                                        order again. Thick, tasty,
                                                        <br>absolutely delicious Pizza! The gal taking my order was so
                                                        nice as well. <span class="double_quat2"></span>
                                                    </p>
                                                    <div class="sign"> <span class="name">Paulette Pettry</span>
                                                        <span class="Desig">CEO</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <button type="button" data-role="none" class="slick-next slick-arrow"
                                            aria-label="Next" role="button" style="display: block;">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- client feedback end here -->

        <!-- Footer Section here -->
        <footer>

            <div class="copyright">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>© <a href="http://glorywebsdemo.com/themeforest/html/carveordering/index.html" class="trans"
                            title="Crave Ordering">Crave Ordering</a>
                        <script type="text/javascript">document.write(new Date().getFullYear());</script>2023, All
                        rights reserved
                    </p>
                </div>
            </div>
        </footer>
        <!-- Footer Section here -->
    </div>
    <!-- JS Here -->
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/custome.js" defer=""></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/slick.js" defer=""></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/jquery.validate.min.js" defer=""></script>
    <!-- JS Here -->


</body>

</html>